<h2>注文情報確認</h2>

<table>
  <tr>
    <th>商品名</th>
    <th>単価（税込）</th>
    <th>数量</th>
    <th>小計</th>
  </tr>
  <% sn = 0 %>
  <% @cart_items.each do |cart_item| %>
  <tr>
    <td>
      <!--商品イメージ-->
      ここに商品イメージ表示させる（by ふじさん）<br>
      <!--商品名-->
      <%= cart_item.item.name %>
    </td>
    <td>
      <!-- 単価（税込）-->
      <!--subtotal( 税抜き価格, 個数 ) => 小計（税込）を計算-->
      <%= subtotal( cart_item.item.listed_price, 1 ) %>
    </td>
    <td>
      <!-- 数量-->
      <%= c.amount %>
    </td>
    <td>
      <!-- 小計-->
      <!--subtotal( 税抜き価格, 個数 ) => 小計（税込）を計算-->
      <%= subtotal( cart_item.item.listed_price, cart_item.amount ) %>
      <% sn += subtotal( cart_item.item.listed_price, cart_item.amount, true ) %>
    </td>
  </tr>
  <% end %>
</table>
