<p>#注文履歴一覧画面#</p>
ふじさん済み
<body>
	<div class="container">
		<div class="row">
			<div class="col">
				<h3><strong>注文履歴一覧</strong></h3>
			</div>
			<div class="table">
				<table class="table table-bordered">
					<thead>
						<tr>
							<th>注文日</th>
							<th>配送先</th>
							<th>注文商品</th>
							<th>支払い金額</th>
							<th>ステータス</th>
							<th>注文詳細</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<!--<%# orders.current_end_users.each do |order| %>-->
							<td><%#= 注文日のカラムどれだ？ %></td>
							<td><dt><%#= orders.postal_code %></dt>
								<dt><%#= orders.ship_to %></dt>
								<dt><%#= orders.consigne %></dt>
							</td>
							<td><%#=←に紐づいた注文商品をtdで表示 %></td>
							<td><%#←に紐づいた値段表示 %></td>
							<td><%# 紐づいたオーダーステータス表示 %></td>
							<td><a class="btn btn-primary" href="/orders/:id">表示する</a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</body>

