table {
	font-size: 16px;
}

th {
	background-color: #C0C0C0;
}

.user-detail {
	border: none;
}

.style-fix {
	text-align: center;
}

#order-show {
	position: relative;


.total-order {
	font-weight: bold;
	padding: auto 0 0 0;
	position: absolute;
	bottom: 0;
	right: 0;
}
}
