<p>Top画面</p>
<body>
       <div class="container">
          <div class="col-lg-10">
            <h2 class="heading">
              <strong>商品一覧</strong></h2><span>(全●●件)</span>

              <div class="row">
                  <ul>
                     <%# @items.each do |item| %>
                      <li class="item">
                        <%#= link_to items_path(items.image) do %>
                          <img src="" href="IMG_3116.jpeg">
                                    <%#= attachment_image_tag items.image, :profile_image, size:"60x60", format: 'jpeg',fallback: %>
                                <%# end %>
                                  <dt>商品名<%#= item.name %></dt>
                                  <dt>値段<%#= item.price %></dt>
                      </li>
                            <%# end %>
                  </ul>
              </div>
          </div>
        </div>

    </body>