
<div class="container">
  <div class="row">
      <div class="col-xs-3" style="background-color: #FFD166;">
          <h2>ジャンル</h2>
          <h2>ジャンル</h2>
          <h2>ジャンル</h2>
          <h2>ジャンル</h2>
          <h2>ジャンル</h2>
          <h2>ジャンル</h2>
          <h2>ジャンル</h2>
          <h2>ジャンル</h2>
      </div>
    <div class="col-xs-9">
      <p><strong>商品一覧</strong>(全x件)</p><br />
        <ul>
        <div class="col-md-3">
              <li class="item">
                <img src="/assets/no_image.jpg" alt="">
                <dt>商品名<%#= item.name %></dt>
                <dt>¥0,000<%#= item.price %></dt>
              </li>
          </div>
        <div class="col-md-3">
              <li class="item">
                <img src="/assets/no_image.jpg" alt="">
                <dt>商品名<%#= item.name %></dt>
                <dt>¥0,000<%#= item.price %></dt>
              </li>
          </div>
        <div class="col-md-3">
              <li class="item">
                <img src="/assets/no_image.jpg" alt="">
                <dt>商品名<%#= item.name %></dt>
                <dt>¥0,000<%#= item.price %></dt>
              </li>
          </div>
        <div class="col-md-3">
              <li class="item">
                <img src="/assets/no_image.jpg" alt="">
                <dt>商品名<%#= item.name %></dt>
                <dt>¥0,000<%#= item.price %></dt>
              </li>
          </div>
        <div class="col-md-3">
              <li class="item">
                <img src="/assets/no_image.jpg" alt="">
                <dt>商品名<%#= item.name %></dt>
                <dt>¥0,000<%#= item.price %></dt>
              </li>
          </div>
        <div class="col-md-3">
              <li class="item">
                <img src="/assets/no_image.jpg" alt="">
                <dt>商品名<%#= item.name %></dt>
                <dt>¥0,000<%#= item.price %></dt>
              </li>
          </div>
        <div class="col-md-3">
              <li class="item">
                <img src="/assets/no_image.jpg" alt="">
                <dt>商品名<%#= item.name %></dt>
                <dt>¥0,000<%#= item.price %></dt>
              </li>
          </div>
        <div class="col-md-3">
              <li class="item">
                <img src="/assets/no_image.jpg" alt="">
                <dt>商品名<%#= item.name %></dt>
                <dt>¥0,000<%#= item.price %></dt>
              </li>
          </div>
          </ul>
        <div class="pagination">
          <p>・　・　・　・</p>
      </div>

    </div>
  </div>
</div>
