<div class="container">
	<h3>会員一覧画面</h3>
		<div class="row">
			<table class="end_users_index">
				<tr>
					<th>会員ID</th>
					<th>氏名</th>
					<th>メールアドレス</th>
					<th>ステータス</th>
				</tr>
				<tbody>
					<% @users.each do |user| %>
						<tr>
							<td><%= user.id %></td>
							<td><%= link_to "{#user.first_name}{user.last_name}", edit_admin_end_user_path(user.id) %></td>
							<td><%= user.email %></td>
							<td>
								<% if user.is_deleted then %>
								退会済み
								<% else %>
								有効
								<% end %>
							</td>
						</tr>
					<% end %>
				</tbody>
			</table>
		</div>
</div>
