<div class="container">
	<div class="genre-index">
		<div>
			<h3>ジャンル検索</h3>
			<form class="edit_genre" id="edit_genre_0" action="/items" accept-charset="UTF-8" method="get">
				<input type="submit" name="commit" value="全商品" />
			</form>
			<% genres.each do | genre | %>
			<%= form_for( genre, url:items_path, method: :get ) do | f | %>
			<%= f.hidden_field :id, readonly:true%>
			<%= f.submit genre.name %>
			<% end %>
			<% end %>
		</div>
	</div>
</div>
