<div class="container">
	<div class="row">
		<div id='genre-window' class="col-xs-1">
			<%= render 'items/template_genres', genres: @genres %>
		</div>

		<div class="col-xs-11">
			<%= render 'items/template_items', pages: @pages, counts: @counts, info: @info %>
		</div>
	</div>
</div>
