<div class="container">
	<p>注文履歴一覧</p><br />
	<table>
		<thead>注文日</thead>
		<thead>配送先</thead>
		<thead>注文商品</thead>
		<thead>支払金額</thead>
		<thead>ステータス</thead>
		<thead>注文詳細</thead>
		<tbody>あ</tbody>
		<tbody>あ</tbody>
		<tbody>あ</tbody>
		<tbody>あ</tbody>
		<tbody>あ</tbody>
		<tbody>あ</tbody>
	</table>

	</div>
</div>