<body>
<p>#マイページ画面#</p>
	<div class="container">
		<div class="row">
			<div class="page_title">
				<h3>マイページ</h3>
			</div>
				<h3><strong>登録情報</strong></h3>
					<div class="btn-wrapper">
						<!-- <div class="row"> -->
							<a class="btn btn-primary col-xs-2" href="/end_users/edit">編集する</a>
						<!-- </div> -->
						<!-- <div class="row"> -->
							<a class="btn btn-primary col-xs-4" href="/end_users/password/new">パスワードを変更する</a>
						<!-- </div> -->
					</div>

				<table class="table">
					<thead></thead>
					<tbody>
						<tr>
							<th width="15%">氏名</th>
							<th>
								<label for="current_end_user_name"></label>
								   <%#= f.text_field :first_name, :last_name %>
							</th>
						</tr>
						<tr>
							<th width="15%">カナ</th>
							<th>
								<label for="current_end_user_name"></label>
									<%#= f.text_field :first_name(kana), :last_name(kana) %>
							</th>
						</tr>
						<tr>
							<th width="15%">郵便番号</th>
							<th>
								<label for="current_end_user_postal_code"></label>
									<a>〒</a><%#= f.text_field :postal_code %>
							</th>
						</tr>
						<tr>
							<th width="15%">住所</th>
							<th>
								<label for="current_end_user_adress"></label>
									<%#= f.text_field :address %>
							</th>
						</tr>
						<tr>
							<th width="15%">電話番号</th>
							<th>
								<label for="current_end_user_phone_number"></label>
									<%#= f.text_field :phone_number %>
							</th>
						</tr>
						<tr>
							<th width="15%">メールアドレス</th>
							<th>
								<label for="current_end_user_email"></label>
									<%#= f.text_field :email %>
							</th>
						</tr>
					</tbody>
				</table>

			<div class="row">
				<h3><strong>配送先</strong></h3>
					<!-- <div class="btn-wrapper"> -->
						<a class="btn btn-primary col-xs-3" href="/addresses">一覧を見る</a>
			</div>
			<div class="row">
				<h3><strong>注文履歴</strong></h3>
						<a class="btn btn-primary col-xs-3" href="/orders">一覧を見る</a>
			</div>
		</div>
	</div>
</body>
