/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";  /*ここを追加*/
 @import "bootstrap";                   /*ここを追加*/


 * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }

 a {
   text-decoration: none;
 }

 .container {
   margin: 0 auto;
   padding-left: 15px;
   padding-right: 15px;
 }


 /* header */

 header {
   color: white
 }

 .navbar {
   border: none;
   border-radius: 0;
 }

 .navbar-nav {
   background-color: #222;
   border-color: #090909;
 }

 .navbar-left, .navbar-right {
   padding: 30px 0 0;
 }

 .header-menu {
   color: #FFF;
 }

 .header-menu:visited {
   color: #FFF;
 }

 /* body */

 body {
   background-color: #FCF5C7;
   color: #333;

   font-family: verdana, arial, helvetica, sans-serif;
   font-size: 13px;
   line-height: 18px;
 }

 span {
   font-size: 30px;
 }

 .navbar-rightli {
   position: relative;
 }

 .glyphicon {
   top: -1px;
 }

 .btn {
   margin: 10px;
 }


 /*---withdraw.html.erb---*/
 .withdraw-text {
   text-align: center;
 }

 strong {
   margin-right: 10px;
   font-size: 20px;
 }

.btn-withdraw {
  display: inline;
}

 /*---top.html.erb---*/
 ul {
   list-style: none;
 }

 li {
   display: list-item;
   text-align: -webkit-match-parent;
 }

 table {
   border-collapse: collapse;
   width: 1000px;
 }

 th,td {
   border: solid 1px #ccc;
   padding: 5px;
 }

 genres {
   height: 1000px;
 }

 /*---login.html.erb---*/

 .field {
   margin-bottom: 10px;
 }

 /*---thanks.html.erb---*/

 .thanks {
   text-align: center;
 }
