/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";


 * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: "irohamaru-Regular";
 }

 a {
   text-decoration: none;
   color: #4682b4;
   font-weight: bold;
   &:hover {
     b {
       color: white;
     }
   }
 }

 .container {
   margin: 0 auto;
   padding-left: 15px;
   padding-right: 15px;
 }

 .flash-message {
   margin-bottom: 10px;
 }

 select {
   height: 36px;
 }

 input {
   height: 34px;
   padding: 0 5px;
 }
 label {
   height: 34px;
   input {
     height: auto;
   }
 }

 /* header */
 .navbar {
   border: none;
   border-radius: 0;
 }

 .navbar-nav {
   background-color: #222;
   border-color: #090909;
 }

 .navbar-left, .navbar-right {
   padding: 30px 20px 0;
 }

 .logo {
   padding-top: 10px;
 }

.navbar-right>li {
  position: relative;
  display: block;
}

 header {
   color: #FFF;
 }

 header:visited {
   color: #FFF;
 }


footer {
  height: 30px;
  width: 100%;
}

 /* body */

 body {
   background-color: #FCF5C7;
   color: #333;
   font-family: verdana, arial, helvetica, sans-serif;
   font-size: 13px;
   line-height: 18px;
 }

 span {
   font-size: 30px;
 }

 .glyphicon {
   line-height: 0.5em;
   position: relative; // 藤野追記
   b {
     position: absolute;
     color: #9d9d9d;
     font-size: 14px;
     text-shadow: black 1px 1px 0px, black -1px 1px 0px, black 1px -1px 0px, black -1px -1px 0px;
   } // 藤野追記
 }


 .btn {
   margin: 10px;
 }

 /*---items.html.erb---*/

/*ページネーション自体のデザイン*/
.pagination>li>a {
  border: none;     /*枠線をなくす*/
  color: #696969;   /*文字の色を変える*/
}

/* 表示しているページ番号のデザイン */
.pagination>.active>a {
  background: #93c9ff;     /*背景の色を変える*/
  border-radius: 15px;     /*角を丸くする*/
}

/*ホバー時のデザイン*/
.pagination>li>a:hover {
  border-radius: 15px;    /*角を丸くする*/
}

 /*---withdraw.html.erb---*/
 .withdraw-text {
   text-align: center;
 }

 strong {
   margin-right: 10px;
   font-size: 20px;
 }

.btn-withdraw {
  display: inline;
}

 /*---top.html.erb---*/
 ul {
   list-style: none;
 }

 li {
   display: list-item;
   text-align: -webkit-match-parent;
   &:last-child {
     .glyphicon {
line-height: 0.5em;
     }
   }
 }

 table {
   border-collapse: collapse;
 }

 .genre_search_btn {
   text-align: right;
 }

/*---border---*/
 th,td {
   border: solid 1px #000;
   padding: 5px;
   height: 40px;
   text-align: center;
 }

 /*---login.html.erb---*/

 .field {
   margin-bottom: 10px;
 }

 /*---thanks.html.erb---*/

 .thanks {
   text-align: center;
 }

 /*---about.html.erb---*/

 .about {
   text-align: center;
 }

 /*---admin/end_users/show.html.erb---*/

 .valid-true {
   border: solid 2px blue;
 }

 .valid-false {
   border: solid 2px red;
 }

 .my-profile {
   width:50%;
   th{
     background-color:#c0c0c0;
   }
 }

 .pay-detail {
 	text-align: right;
 }
