// Place all the styles related to the EndUsers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.row {
	font-size: 15px;
}

li {
	display: inline;
	list-style-type: none;
}

p {
	font-size: 15px;
}
