// Place all the styles related to the Orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.row {
	text-align: left;
}

.test {
	padding-left: 20px;
	font-size: 18px;
}

p {
	padding-left: 25px;
}

.confirm-text {
	font-size: 18px;
	padding-left: 30px;
	padding-top: 10px;
}

.comfirm-post {
	font-size: 15px;
}

.confirm-btn {
	text-align: center;
}