// Place all the styles related to the Orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.row {
	text-align: left;
}

.test {
	padding-left: 20px;
	font-size: 18px;
}

p {
	padding-left: 25px;
}

.confirm-text {
	font-size: 18px;
	padding-left: 30px;
	padding-top: 10px;
}

.comfirm-post {
	font-size: 15px;
}

.confirm-btn {
	text-align: center;
}

/* order show */
.clearfix {

}

.order-info {
	float: left;
}

.pay-info {
	float: right;
}

.order-table th {
	width: 150px;
}

.order-info td {
	width: 400px;
}


.pay-info {
	float: right;
	padding-top: 25px;
}

.pay-heading {
	background-color: #C0C0C0;
	width: 150px;
}

.pay-info td {
	width: 130px;
}

.item-name {
	width: 400px;
}

.sabtotal {
	width: 100px;
}

.total-amount {
	width: 100px;
}

.order-details, .order-info {
	padding-top: 30px;
}



